# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environnements virtuels
env/
venv/

# Cache de pytest
.pytest_cache/

# Dossiers temporaires
tmp/
*.tmp

# Fichiers générés par Playwright (vidéos, captures d'écran)
videos/
screenshot_*.png
allure-results/

# Fichiers de configuration sensibles
.env
# Environnements virtuels
venv/
env/
.venv/
#tests
test_personal_registration.py
test_professional_registration.py
test_admin_login.py